@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
}

h1 {
  line-height: 33px;
  font-weight: 600;
}

h1, h2 {
  font-size: 28px;
}

h2 {
  line-height: 40px;
  color: #617392;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  padding-right: 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  padding: 0 15px;
}

header nav ul li a {
  color: #617392;
}

header nav ul li a.Nav__btn {
  background-color: #617392;
  color: white;
  padding: 6px;
  border-radius: 10px;
}

.from__login .loginbg {
  background-color: #F1F5FC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 120px;
  border-top-right-radius: 30px;
}

.from__login .center {
  place-content: center;
  display: -ms-grid;
  display: grid;
}

.from__login .width__text {
  width: 470px;
  padding-top: 20px;
}

.from__login h2 {
  margin-bottom: 80px;
}

.from__login h1 {
  width: 326px;
  position: relative;
  padding-top: 20px;
}

.from__login h1::after {
  background-color: #0722D5;
  content: ' ';
  height: 5px;
  width: 15px;
  position: absolute;
  left: 0;
  top: 0;
}

.from__login .paddingLeft {
  padding-left: 30px;
}

.title h1 {
  padding-bottom: 20px;
}

.title small {
  font-size: 12px;
  line-height: 17px;
  color: #1B1E30;
}

form .formRow {
  margin-bottom: 20px;
}

form input {
  background-color: #F5F5F5;
  border: none;
  padding: 5px 15px;
}

form input ::-webkit-input-placeholder {
  background-color: #F5F5F5;
  color: #06142E;
  font-size: 12px;
}

form input :-ms-input-placeholder {
  background-color: #F5F5F5;
  color: #06142E;
  font-size: 12px;
}

form input ::-ms-input-placeholder {
  background-color: #F5F5F5;
  color: #06142E;
  font-size: 12px;
}

form input ::placeholder {
  background-color: #F5F5F5;
  color: #06142E;
  font-size: 12px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.gridThree {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.btnCustmize {
  text-align: center;
  font-size: 13px;
  display: block;
  padding: 15px;
  width: 100%;
}

.borderBtn {
  border: 1px solid #0722D524;
}

.gradientBtn {
  color: white;
  background: transparent linear-gradient(98deg, #06C1CF 0%, #7B04D9 77%, #7C01D9 100%) 0% 0% no-repeat padding-box;
  text-transform: uppercase;
}

.end__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.end__card div:nth-child(1), .end__card div:nth-child(4) {
  padding: 10px;
  position: relative;
}

.end__card div:nth-child(1) h1, .end__card div:nth-child(4) h1 {
  font-size: 62px;
  position: absolute;
  bottom: 0;
  bottom: -32px;
  margin: 0;
  z-index: -1;
  color: #55CBFA;
  opacity: 0.5;
}

.end__card > div {
  height: 177px;
}

.end__card > div p {
  margin: 3px;
}

.end__card > div h3 {
  color: #84909D;
}

.end__card > div h3 span {
  color: #55CBFA;
}

.end__card > div p {
  color: #84909D;
}

.end__card img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */