html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
img {
    max-width: 100%;
}
.deskNone, .none {
    display: none;
}
body {
	line-height: 1;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {text-decoration: none;}


$white :white;
$linkcolorBg :#617392;
$title__font :28px;
$titleH1color :#1B1E30;
$titleLine :#0722D5;
@mixin border-radius($r) {
    border-radius: $r;
  }
  h1 {
    line-height: 33px;
    font-weight: 600;
  }
  h1, h2 {
    font-size:$title__font ;

  }

  h2 {

    line-height: 40px;
    color: #617392;
  }
  h4 { font-size: 20px;}
  h5 {
      font-size: 18px;
      color: black;
  }

header {
    align-items: center;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    nav {
        padding-right: 20px;
        ul {
            display: flex;
            li {
                padding: 0 15px;
                a {
                    color: #617392;
                    &.Nav__btn {
                        background-color: $linkcolorBg;
                        color: white;
                        padding: 4px 10px;
                        @include border-radius(10px)
                    }
                }
            }
        }
    }
}
.paddingLeftEqual{
    
    padding-left: 100px;
}


.whiteBg {
    background-color: $white;
    position: relative;
    &:after{
        content: ' ';
        background:#F1F5FC;
        width: 100px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}
.bgShadow {
    box-shadow: 0px 3px 36px #0000000D;
    padding: 15px 20px;
    background-color: $white;
}
.loginbg{
    background-color: #F1F5FC ;
    align-items: center;
    border-top-right-radius: 30px;
    padding:30px 30px 120px 15px;
    
}
.borderRadius {
    border-top-right-radius: 30px;
}
.paddingLeftLogin {
    padding-left: 20%;
}
.from__login {
    
    .center {place-content: center; display: grid;}
    .left {place-content: center;  align-items: center; display: grid;}
    .width__text {
        padding-top: 20px;
        
    }
    h2 {
        margin-bottom: 80px;
    }
    h1 {
        width: 326px;
        position: relative;
        padding-top: 20px;
        &::after {
            background-color: $titleLine;
            content: ' ';
            height: 5px;
            width: 15px;
            position: absolute;
            left: 0;
            top: 0;

        }
    }
    .paddingLeft {
        padding-left: 30px;
    }

}
.title {
    h1 {
        padding-bottom: 20px;
    }
    small {
        font-size: 12px;
        line-height: 17px;
        color: #1B1E30;
    }
}
form.loginDetails {
    padding-top: 20px;
    .formRow {
        margin-bottom: 20px;
    }
    input {
        background-color: #F5F5F5;
        border: none;
        padding: 5px 15px;
        min-height: 50px;
        ::placeholder {
            background-color: #F5F5F5;
            color: #06142E;
            font-size: 12px;
        }
    }
}
.grid {
    display: grid;
    
}
.twogrid {
    grid-template-columns: 1fr 1fr;
}
.gridThree {
    grid-template-columns: 1fr 1fr 1fr;
}
.gapGrid {
    grid-gap: 20px;
}

.btnCustmize {
    text-align: center;
    font-size: 13px;
    display: block;
    padding: 5px;
    min-height: 50px;
    width: 100%;
}
.borderBtn {
    border: 1px solid #0722D524;
}
.gradientBtn {
    color: $white;
    background: transparent linear-gradient(98deg, #06C1CF 0%, #7B04D9 77%, #7C01D9 100%) 0% 0% no-repeat padding-box;
    text-transform: uppercase;
}
.detailed__warper {
    margin-bottom: 50px;
    color: #4F6D8F;
    font-size: 20px;
    .row {
        margin-top: -20px;
    }
    .rowdiv {
        padding: 20px;
        margin-top: -20px;
        position: relative;
        h4 {
            margin-bottom: 20px;
            padding-bottom: 30px;
            border-bottom: 1px solid #eee;
        }
        h5 {
            line-height: 20px;
            span {
                display: block;
                font-size: 14px;
                color: #828282;
            }
        }
    }
}
.rate {
    display: grid;
    place-content: end;
    ul li {padding-left: 5px;}
}
.container {
    width: 100%;
    max-width: 960px;
}
.end__card {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
    width: 100%;
    margin: 0 auto;
    .imageContent {
        display: flex;
        align-items: center;
        padding-left: 40px;
    }
    & div:nth-child(1) , & div:nth-child(4) {
        
        position: relative;
        border:1px solid #eee;

        h1 {
            font-size: 62px;
            position: absolute;
            margin: 0;
            z-index: -1;
            color: #06B2FF;
            opacity: 0.2;
            bottom: 5px;
        }
    }
    > div {
        p {
            margin: 3px;
            font-size: 18px;
        }

        h3 {
            color: #84909D;
            font-size: 27px;
            line-height: 28px;
            padding-bottom: 8px;
            span {
                color: #55CBFA;
            }
        }
        p {
            color: #84909D;
            font-size: 18px;
        }
      
    }
    img {
        width: 100%;
        height: 100%;
    }
    .centertext {
        border: none !important;
    }
}


@media (max-width:1200px) {
    .paddingLeftEqual {
        padding-left: 15px;
    }
    .whiteBg:after {
        padding-left: 15px;
    }
     .mediumDevice.twogrid  {
        grid-template-columns: 1fr;
     }
    .width__text {
        padding-left: 80px;
    }
    .from__login h2 {
        margin-bottom: 30px;
    }
    .gride__row.paddingLeft {
        padding-top: 30px;
    }
    .loginbg {
        padding-bottom: 60px;
    }
    .mobileChnage.twogrid {
        grid-template-columns: 1fr 1fr;
    }
    .detailed__warper {
        padding-top: 30px;
    }
    h4 {
        font-size: 16px;
    }
    .detailed__warper .rowdiv h4 {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 14px;
        span{
            font-size: 12px;
        }
    }
    .detailed__warper {
        .twogrid {
            grid-template-columns: 1fr;
        }
        .rate {
            place-content: inherit;
            padding-top: 10px;
        }
    }
    header {
        position: relative;
        margin-bottom: 30px;
    }
    .none {
        display: block;
    }
    .mobilemenu {
        position: absolute;
        right: 20px;
        top:24px;
        cursor: pointer;
        font-size: 22px;
        display: block;
    }
    body {
        right: 0;
        position: relative;
        overflow-x: hidden;
    }
    
    body.active{
        right: 270px
    };
    body , header , nav {
        transition: all 0.3s  ease;
    }
    header.active {
        right: 0;
    }
    nav.active {
        right: -270px;
    }
    header nav {
            position: absolute;
            right: -270px;
            top: 0;
            z-index: 9;
            background: #617392;
            height: 100vh;
            width: 270px;
            color: #fff;
        ul {
            display: inherit;
            
            li {
                padding: 15px 15px;
                border-bottom: 1px solid;
                display: block;
                a {
                    color: #fff;
                    display: block;
                }
            }
        }
    }
  }
  @media (max-width:800px) { 
    .whiteBg:after {
        width: 0 !important;
    }
    .width__text {
        padding-left: 0;
    }
    .end__card div:nth-child(1) h1, .end__card div:nth-child(4) h1 {
        position: static;
        padding: 15px;

    }
    .end__card .imageContent {
        padding-left: 15px;

    }
    .end__card .imageContent {
        flex-direction: column;
    }
    
}


@media (max-width:550px) {
    .paddingLeftEqual, .whiteBg:after {
        padding-left: 0;
    }
    .from__login .paddingLeft {
        padding-left: 0;
    }
    .mobileChnage.twogrid {
        grid-template-columns: 1fr;
    }
    form.loginDetails .formRow {
        margin-bottom: 0;
        input {
            width: 100%;
        }
    }
    .from__login .left {
        display: inherit;
        padding-left: 15px;
        padding-right: 15px;
        place-content: inherit;
    }
    .deskNone {
        display: block;
    }
    .mobileNone {
        display: none;
    }
    .end__card {
        display: inherit;
    }
    .end__card .imageContent {
        align-items: flex-start;
    }
    .end__card > div h3 {
        font-size: 22px;
    }
    .end__card > div p {
        font-size: 14px;
    }
 }